# globals
variable "project" {}
variable "venue" {}
variable "counter" {}

variable "shared_credentials_file" {
  default = "~/.aws/credentials"
}

variable "profile" {
  default = "__aws_profile__"
}

variable "key_pair" {
  default = "__os_key_pair_name__"
}

variable "private_key_file" {
  default = "__os_pvt_key_path__"
}

variable "auth_url" {
  default = "__os_auth_url__"
}

variable "tenant_name" {
  default = "__os_tenant_name__"
}

variable "tenant_id" {
  default = "__os_tenant_id__"
}

variable "user_name" {
  default = "__os_user__"
}

variable "password" {
  default = "__os_password__"
}

variable "region" {
  default = "__os_region__"
}

variable "network" {
  type = "map"
  default = {
    name = "__os_network_name__"
    uuid = "__os_network_id__"
  }
}

variable "az" {
  default = "__os_az__"
}

variable "pool" {
  default = "__os_floating_ip_pool__"
}

variable "security_groups" {
  type = "list"
  default = [
    "__os_security_group__"
  ]
}


# mozart vars
variable "mozart" {
  type = "map"
  default = {
    name = "mozart"
    image_id = "__os_mozart_image_id__"
    # r3.4xlarge
    #flavor_id = "__os_mozart_flavor_id__"
    # r3.2xlarge
    flavor_id = "__os_mozart_flavor_id__"
    docker_storage_size = 50
    data_size = 100
  }
}


# metrics vars
variable "metrics" {
  type = "map"
  default = {
    name = "metrics"
    image_id = "__os_metrics_image_id__"
    # r3.4xlarge
    #flavor_id = "__os_metrics_flavor_id__"
    # r3.2xlarge
    #flavor_id = "__os_metrics_flavor_id__"
    # m3.xlarge
    flavor_id = "__os_metrics_flavor_id__"
    docker_storage_size = 50
    data_size = 100
  }
}

# grq vars
variable "grq" {
  type = "map"
  default = {
    name = "grq"
    image_id = "__os_grq_image_id__"
    # r3.4xlarge
    #flavor_id = "__os_grq_flavor_id__"
    # r3.2xlarge
    flavor_id = "__os_grq_flavor_id__"
    docker_storage_size = 50
    data_size = 100
  }
}

# factotum vars
variable "factotum" {
  type = "map"
  default = {
    name = "factotum"
    image_id = "__os_factotum_image_id__"
    # r3.4xlarge
    #flavor_id = "__os_factotum_flavor_id__"
    # r3.2xlarge
    flavor_id = "__os_factotum_flavor_id__"
    docker_storage_size = 50
    data_size = 300
  }
}

# ci vars
variable "ci" {
  type = "map"
  default = {
    name = "ci"
    image_id = "__os_ci_image_id__"
    # r3.4xlarge
    #flavor_id = "__os_ci_flavor_id__"
    # r3.2xlarge
    #flavor_id = "__os_ci_flavor_id__"
    # m3.xlarge
    flavor_id = "__os_ci_flavor_id__"
    docker_storage_size = 50
    data_size = 100
  }
}
